main {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}

mat-card {
    margin: auto;
    margin-bottom: 2rem;
    width: 89%;
    display: block;
    margin-top: 2rem;
    text-align: left;
}

.mat-card-header {
    display: block;
}