<mat-card class="mat-elevation-z2" (click)="onClick()" style="cursor: pointer;">
    <mat-card-header>
        <ng-content select="[card-header-content]"></ng-content>
    </mat-card-header>

    <mat-card-content>
        <ng-content select="[card-content-content]"></ng-content>
    </mat-card-content>

    <mat-card-actions>
        <ng-content select="[card-actions-content]"></ng-content>
    </mat-card-actions>
</mat-card>