<ng-template #myDialog>
    <h2 matDialogTitle>{{title}}</h2>
    <mat-dialog-content>
        <ng-content select="[dialog-content]"></ng-content>
    </mat-dialog-content>
    <mat-dialog-actions align='center'>
        <ng-content select="[dialog-actions]"></ng-content>
    </mat-dialog-actions>
</ng-template>