<main>
    <mat-card class="mat-elevation-z2">
        <swiper [config]="config">
            <app-card style="overflow-x: hidden;" (onClickCard)="openDialog($event)" [data]="city" *ngFor="let city of cities">
                <ng-container card-header-content>
                    <mat-card-title style="text-align: left;">
                        {{city.name}}
                        <img [src]="'http://openweathermap.org/images/flags/' + city.country + '.png'">
                    </mat-card-title>
                    <mat-card-subtitle>
                        {{city.weatherCity.description}}
                    </mat-card-subtitle>
                </ng-container>
                <ng-container card-content-content>
                    <mat-list style="text-align: left;">
                        <h3 mat-subheader>Weather</h3>
                        <mat-list-item>
                            <div matListAvatar id="icon"><img id="wicon" [src]='"http://openweathermap.org/img/w/" + city.weatherCity.icon + ".png"' alt="Weather icon"></div>
                            <h4 mat-line>Temperature: {{city.weatherMainCity.temp}}</h4>
                            <p mat-line> Average Temperature: {{city.weatherMainCity.average_temp}} </p>
                            <p mat-line> Min Temperature: {{city.weatherMainCity.temp_min}}</p>
                            <p mat-line> Max Temperature: {{city.weatherMainCity.temp_max}}</p>
                            <p mat-line> Humidity: {{city.weatherMainCity.humidity}}</p>
                            <p mat-line> Pressure: {{city.weatherMainCity.pressure}} hpa</p>
                            <mat-divider></mat-divider>
                        </mat-list-item>
                        <h3 mat-subheader>Wind</h3>
                        <mat-list-item>
                            <div matListAvatar id="icon"></div>
                            <h4 mat-line>Speed: {{city.windCity.speed}} m/s</h4>
                            <p mat-line> Direction: {{city.windCity.deg}} °</p>
                            <mat-divider></mat-divider>
                        </mat-list-item>
                    </mat-list>
                </ng-container>
                <ng-container card-actions-content>
                </ng-container>
            </app-card>
        </swiper>
    </mat-card>
</main>

<app-modal #cardModal [title]='getTitleModal()' [width]='"1000px"'>
    <ng-container dialog-content>
        <div *ngIf="chart">
            <canvas id="canvas">
            {{chart}}
          </canvas>
        </div>
    </ng-container>
    <ng-container dialog-actions style="text-align: center;">
        <button mat-button (click)="closeModal()">Close!</button>
    </ng-container>
</app-modal>