<header class="header mt-5 text-center">
    <h1>Weather SPA</h1>
    <p style="color: #777" class="mb-1">Julio ALberto Avila</p>
</header>

<router-outlet></router-outlet>

<footer class="footer mb-4 mt-5">
    <br> Julio ALberto Avila - Weather SPA
</footer>